.home{
    width: 100%;

    .educate{
        position: relative;

        @include responsive(tablet){
            margin-top: 400px;
        }
        h3{
            border: 2px solid $green;
            border-radius: 50%;
            padding: 10px;
            max-width: max-content;
        }
    }

    .hero{
        
        img{
            width: 100vw;
            margin-left: -85px;
            height: 85vh;
        }

        li{
            display: inline-flex;
            margin-right: 20px;
            
            &:nth-of-type(1){
                background-color: $green;
            }

            @include responsive(mobile){
                &:nth-of-type(1){
                    display: none;
                }
            }
        }
        button{
            color: $white;
            padding: 15px;
            width: 12pc;
        }

        @include responsive(mobile){
            img{
                margin-left: -24px;
                height: auto;
            }
            h1{
                font-size: 29.5px;
            }
            p{
                font-size: 18px;
            }
            button{
                width: 20pc;
                margin-top: 20px;
                padding: 10px;
            }
        }

        .hero-text{
            position: absolute;
            z-index: 2;
            top: 50px;
            color: $white;
            

            @include responsive(tablet){
                top: 120px;
                width: 70%;

                h1{
                    font-size: 70px;
                }
                p{
                    font-size: 30px;
                }
            }

        }
    }

    .cards{
        width: 100%;
        div{
            background-color: $white;
            margin: 10px auto;
     
            &:nth-of-type(3){
                display: none;
            }
            button{
                width: 100%;

                @include responsive(mobile){
                    background-color: transparent;
                }
            }
        }

        @include responsive(tablet){
            display: grid;
            grid-template-columns: 33% 33% 33%;
            grid-template-rows: 200px;
            gap: 20px;
            position: absolute;
            margin-top: -90px;

            div{
                &:nth-of-type(3){
                    display: block;
                }
            }

            img{
                &:hover{
                    transform: scale(1.01);
                    transition: .3s ease;
                }
            }
        }

        img{
            width: 100%;
        }

        .card-content{
            padding: 15px;
        }
    }
}
