// font
@font-face {
    font-family: lato;
    src: url(../../font/Lato-Regular.ttf);
}

$lato:lato;

// colors
$green:rgb(86, 161, 86);
$white:whitesmoke;
$black:rgba(0, 0, 0, .5);

@mixin responsive($breakpoint){
    @if ($breakpoint == 'tablet'){
        @media screen and (min-width:768px) { @content }
    };

    @if ($breakpoint == 'mobile'){
        @media screen and (max-width:425px) { @content }
    };
}