.header {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vmin 3vmin;
  text-transform: capitalize;
  font-weight: 600;

  .logo {
    img {
      width: 6vmin;
    }
  }

  .menu-icon {
    display: none;
  }

  .header-links {
    // width: 60%;

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 4vmin;
      transition: $menu-transition;
      // transform: translateX(0) !important;

      .close-icon {
        display: none;
      }

      li {
        padding: 0.8vmin 1.2vmin;
        margin: 0 10px;
        background-color: transparent;
        display: flex;
        border: 3px solid transparent;

        .link-icon {
          display: none;
        }

        &:hover {
          color: $green;
          border-bottom: 3px solid $green;
          transition: $link-transition;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 750px) {
  // @include resposive(tablet) {
  .header {
    flex-direction: row-reverse;

    .menu-icon {
      display: block;
    }

    .header-links {
      ul {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 60%;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        background-color: antiquewhite;
        z-index: 5;
        padding: 0;
        padding-top: 3vmin;
        transform: unset;

        .close-icon {
          display: block;
          font-size: 7vmin;
          margin-left: 6vmin;
        }

        li {
          width: 70%;
          margin-top: 5vmin;
          align-items: center;
          border-radius: 10px;

          &:hover {
            background-color: aquamarine;
          }

          .link {
            display: flex;
            align-items: center;
            padding: 2vmin 3vmin;

            .link-icon {
              display: unset;
              margin-right: 5vmin;
              font-size: x-large;
            }
          }
        }
      }
    }
  }
}
