.header {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vmin 3vmin;
  text-transform: capitalize;
  font-weight: 600;
  z-index: 4;
  background-color: white;

  .logo {
    img {
      width: 8vmin;
    }
  }

  .menu-icon {
    display: none;
  }

  .header-links {
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 4vmin;
      transition: $menu-transition;
      background-color: white;

      .close-icon {
        display: none;
      }

      li {
        padding: 0.8vmin 1.2vmin;
        margin: 0 10px;
        display: flex;
        border: 3px solid transparent;

        &:first-child {
          &:hover {
            background-color: transparent;
          }
        }

        .link-icon {
          display: none;
        }

        &:hover {
          color: $green;
          border-bottom: 3px solid $green;
          transition: $link-transition;
          cursor: pointer;
        }
      }
    }
  }
}

.scroll-down .header {
  transform: translate3d(0, -100%, 0);
}

.scroll-up .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
}

.overlay {
  display: none;
}

@media (max-width: 750px) {
  .header {
    flex-direction: row-reverse;

    .logo {
      img {
        width: 14vmin;
      }
    }

    .menu-icon {
      font-size: 10vmin;
      display: block;
    }

    .header-links {
      ul {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 60%;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        color: inherit;
        z-index: 5;
        padding: 0;
        padding-top: 3vmin;
        transform: unset;

        li {
          width: 70%;
          margin-top: 5vmin;
          align-items: center;
          border-radius: 10px;

          &:hover {
            background-color: rgba(0, 0, 0, 0.2);
            color: unset;
            border-bottom: 3px solid transparent;
            transition: $link-transition;
            cursor: pointer;
          }

          &:first-child {
            width: 90%;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }

          .close-icon {
            display: block;
            font-size: 10vmin;
          }

          .link {
            display: flex;
            align-items: center;
            padding: 2vmin 3vmin;

            .link-icon {
              display: unset;
              margin-right: 5vmin;
              font-size: x-large;
            }
          }
        }
      }
    }
  }

  .scroll-down

  .scroll-down .header {
    transform: translate3d(0, -100%, 0);
  }

  .scroll-up .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
  }

  .overlay {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.8);
    transition: $menu-transition;
  }
}
