.header {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vmin 3vmin;
  text-transform: capitalize;
  font-weight: 600;
  z-index: 4;

  // background-color: #70657E;
  // background-color: white;

  .logo {
    img {
      width: 8vmin;
    }
  }

  .menu-icon {
    display: none;
  }

  .header-links {
    // width: 60%;

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 4vmin;
      transition: $menu-transition;
      // transform: translateX(0) !important;

      .close-icon {
        display: none;
      }

      li {
        padding: 0.8vmin 1.2vmin;
        margin: 0 10px;
        background-color: transparent;
        display: flex;
        border: 3px solid transparent;

        .dark {
          color: $white;
          background-color: $white;
          border-color: $white;
        }

        .light {
          color: $background;
          background-color: $background;
          border-color: $background;
        }

        &:first-child {
          &:hover {
            background-color: transparent;
            color: unset;
            border-bottom-color: transparent;
          }
        }

        .theme-icons {
          width: 5rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: relative;
          border-width: 2px;
          border-top: 0;
          border-bottom: 0;
          border-style: solid;
          border-radius: 1vmin;
          font-size: 4vmin;

          button {
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            border: none;
            border-radius: 0.6vmin;
            transition: $menu-transition;
          }
        }

        .link-icon {
          display: none;
        }

        &:hover {
          color: $green;
          border-bottom: 3px solid $green;
          transition: $link-transition;
          cursor: pointer;
        }
      }
    }
  }
}

.overlay {
  display: none;
}

@media (max-width: 750px) {
  // @include resposive(tablet) {
  .header {
    flex-direction: row-reverse;

    .logo {
      img {
        width: 14vmin;
      }
    }

    .menu-icon {
      font-size: 10vmin;
      display: block;
    }

    .header-links {
      .dark {
        color: $white;
        background-color: $background;
      }

      .light {
        color: $background;
        background-color: $white;
      }

      ul {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 60%;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        background-color: inherit;
        color: inherit;
        z-index: 5;
        padding: 0;
        padding-top: 3vmin;
        transform: unset;

        li {
          width: 70%;
          margin-top: 5vmin;
          align-items: center;
          border-radius: 10px;

          &:hover {
            background-color: rgba(0, 0, 0, 0.2);
            color: unset;
            border-bottom: 3px solid transparent;
            transition: $link-transition;
            cursor: pointer;
          }

          &:first-child {
            width: 90%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            

            &:hover {
              background-color: transparent;
            }

            .theme-icons {
              width: 40%;
              font-size: 6vmin;
              border-radius: 2vmin;
              padding: 1vmin 2vmin;
              

              button {
                border-radius: 1.6vmin;
              }
            }
          }

          .close-icon {
            display: block;
            font-size: 10vmin;
            // margin-left: 8vmin;
          }

          .link {
            display: flex;
            align-items: center;
            padding: 2vmin 3vmin;

            .link-icon {
              display: unset;
              margin-right: 5vmin;
              font-size: x-large;
            }
          }
        }
      }
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.8);
    transition: $menu-transition;
  }
}
