.hero {
  width: 100vw;
  height: fit-content;
  max-width: 1640px;
  margin: 0 auto;
  // overflow: hidden;
  overflow-y: hidden;
  position: relative;

  .hero-img {
    //   aspect-ratio: 1/3;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(20, 23, 40, 0.2),
      rgba(20, 23, 40, 0.2),
      rgba(20, 23, 40, 1)
    );
    z-index: 2;

    img {
      width: 100vw;
      object-fit: cover;
      // z-index: 1;
      position: relative;
    }
  }

  .hero-text {
    max-width: 1300px;
    position: absolute;
    top: 30%;
    bottom: 10%;
    padding: 2vmin 3vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: $white;

    .hero-btns {
      width: fit-content;

      button {
        padding: 2vmin 8vmin;
        background-color: transparent;
        color: $white;
        font-size: 16px;
        border: 2px solid $green;
        text-transform: capitalize;
        transition: $link-transition;

        &:last-child {
          display: none;
        }

        &:first-child {
          margin-right: 5vmin;
          background-color: $green;

          &:hover {
            background-color: lighten($green, 10%);
          }
        }

        &:hover {
          cursor: pointer;
          background-color: $green;
        }
      }
    }
  }
}

@media (min-width: 880px) {
  .hero {
    height: 85vh;
    // height: 600px;

    .hero-text {
      top: 20%;
      bottom: 30%;
      right: 50%;
      left: 8%;

      .hero-btns {
        button {
          &:last-child {
            display: unset;
          }
        }
      }

      h1 {
        font-size: 40px;
      }
    }
  }
}
