.hero {
  width: 100vw;
  height: fit-content;
  max-width: 1640px;
  margin: 0 auto;
  // overflow: hidden;
  overflow-y: hidden;
  position: relative;

  .hero-img {
    //   aspect-ratio: 1/3;
    display: inline-block;
    width: 100%;
    height: 100%;
    // background: linear-gradient(
    //   to right,
    //   rgba(0, 0, 0, 0.5),
    //   rgba(0, 0, 0, 0.1)
    // );
    z-index: 2;

    img {
      width: 100vw;
      object-fit: cover;
      z-index: -1;
      position: relative;
    }
  }

  .hero-text {
    max-width: 1300px;
    position: absolute;
    top: 20%;
    bottom: 20%;
    padding: 2vmin 3vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: $white;

    .hero-btns {
      width: fit-content;

      button {
        padding: 2vmin 8vmin;
        background-color: transparent;
        color: $white;
        font-size: 16px;
        border: 2px solid $green;
        text-transform: capitalize;
        transition: $link-transition;

        &:first-child {
          margin-right: 5vmin;
          background-color: $green;

          &:hover {
            background-color: lighten($green, 10%);
          }
        }

        &:hover {
          cursor: pointer;
          background-color: $green;
        }
      }
    }
  }
}

@media (min-width: 880px) {
  .hero {
    height: 80vh;
    height: 600px;

    .hero-text {
      bottom: 30%;
      right: 30%;
      left: 8%;

      h1 {
        font-size: 40px;
      }
    }
  }
}
