.overview {
  max-width: 1400px;
  margin: 0 auto;

  .overview-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: inherit;

    &:nth-child(even) {
      flex-direction: column;
    }

    img {
      width: 90vw;
      margin: 0 auto;
      border-radius: 2vmin;
    }

    .overview-details {
      font-weight: 400;
      padding: 3vmin 5vmin;
      margin: 0;
      margin: 4vmin 0;
      display: grid;

      button {
        margin-top: 7vmin;
        background-color: inherit;
        border-color: inherit;
        color: inherit;
        border-style: solid;
        padding: 3vmin 6vmin;
        text-transform: capitalize;
        font-size: 3vmin;
        border-width: 1.6px;
        border-radius: 1vmin;
        transition: $link-transition;
        margin-left: auto;

        &:hover {
          cursor: pointer;
          background-color: rgba(0, 0, 0, 0.1);
          transform: scale(1.01, 1.01);
        }
      }
    }
  }
}

@media (min-width: 720px) {
  .overview {
    .overview-item {
      flex-direction: row;
      gap: 14vw;
      padding: 5vw;

      &:nth-child(even) {
        flex-direction: row-reverse;
      }

      img {
        width: unset;
        height: 30vw;
      }

      .overview-details {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0.8vw;
        font-weight: 600;
        padding-right: 3vw;
        width: 50%;

        button {
          margin-top: 6vw;
          border-width: 1px;
          padding: 1.8vmin 4vmin;
          font-size: 2vmin;
          border-radius: 1vmin;
          margin-left: unset;
          margin-right: auto;
          border-width: 2px;
        }
      }
    }
  }
}

@media (min-width: 1300px) {
  .overview {
    .overview-item {
      gap: 14vmin;
      padding: 5vmin 25vmin;

      img {
        height: 40vmin;
      }

      .overview-details {
        padding: 4vmin;
        padding-right: 6vmin;

        button {
          margin-top: 6vmin;
          border-width: 1px;
          padding: 2vmin 3vmin;
        }
      }
    }
  }
}
