$font-family: 'Kumbh Sans', sans-serif;
$blue: #6d6f88;
$dark-blue: #282c52;
$white: #fff;
$green: rgb(64, 208, 38);

$link-transition: all 0.2s ease-in-out;

@mixin resposive($screen-size) {
  @if ($screen-size == 'desktop') {
    @media (max-width: 1440px) {
      @content;
    }
  }
  @if ($screen-size == 'tablet') {
    @media (max-width: 740px) {
      @content;
    }
  }
  @if ($screen-size == 'mobile') {
    @media (max-width: 375px) {
      @content;
    }
  }
}
