@import './variables';
@import './header';
@import './config';
@import './hero';
@import './overview';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  overflow-x: hidden;
  // background: linear-gradient(
  //   to bottom,
  //   rgba(20, 23, 40, 0.3),
  //   rgba(20, 23, 40, 1)
  // );
  // background-color: $background;

  .dark {
    color: $white;
    background-color: $background;
  }

  .light {
    color: $background;
    background-color: $white;
  }
}



.container {
  // max-width: 1200px;
  // height: fit-content;
  // width: 90%;
  margin: 0 auto;
}

ul li {
  list-style: none;
  display: inline;
}

a,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}
